/* --- Font style taken from Google Fonts: https://fonts.google.com/specimen/Raleway --- */
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

/* -------------------------------------------------------------------- Global Styles --- */

* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* --- Solution to smooth scroll for floating button found via W3 schools: https://www.w3schools.com/howto/howto_css_smooth_scroll.asp#section2 --- */
html {
    scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  color: rgb(92, 92, 92);
  text-align: center;
}

/* --- Pseudo-Classes --- */

a:hover {
  text-decoration: none;
}

/* --- Headings --- */

h2 {
  padding: 30px 0;
  background-color: rgba(164, 206, 158, 0.6);
}

h3 {
  font-size: 24px;
  padding-bottom: 15px;
}

h3 p {
  font-size: 16px;
}

/* --- Padding --- */

.column-padding {
  padding: 30px;
}

/* -------------------------------------------------------------------- Colours --- */

.green-text {
  color: rgba(14, 63, 7, 0.75);
}

.grey-bg-color {
  background-color: rgba(238, 234, 234, 0.6);
}

.pink-bg-color {
  background-color: rgba(252, 217, 246, 0.5);
}

/* --------------------------------------------------------------------- Floating Button --- */

#floating-button {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(141, 141, 141); 
    color: white;
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 1;
}

#floating-button:hover {
    background-color: rgb(161, 161, 161);
    color: rgba(14, 63, 7, 0.75);
}

/* --- Solution to removing blue border found via Stack Overflow: https://stackoverflow.com/questions/49836206/cannot-remove-bootstrap-button-border --- */
#floating-button:focus,
#floating-button:active {
    outline: 0;
}

/* --------------------------------------------------------------------- Header --- */

header {
  padding-top: 30px;
  padding-bottom: 30px;
}

.header-top-padding {
    padding-top: 15px;
}

#logo-text {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
  text-decoration: none;
}

nav li {
  list-style-type: none;
  display: inline;
}

nav a {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  padding-left: 20px;
}

nav a:hover {
  color: rgba(14, 65, 7, 1);
}

/* --------------------------------------------------------------------- Footer --- */

footer a {
  color: rgb(92, 92, 92);
}

footer a:hover {
  color: rgb(10, 10, 10);
}

#address-container p,
#contact-container p {
    display: inline;
}

#social-container i {
  padding-right: 20px;
  font-size: 30px;
}

#social-container i:hover {
  color: rgba(14, 65, 7, 1);
}

#copyright {
    font-size: 12px;
}

/* --------------------------------------------------------------------- Page Content --- */

/* --- welcome --- */

.welcome-container {
  padding-bottom: 30px;
}

.welcome-container h3 {
  padding-top: 20px;
}

#introduction p {
  text-align: center;
  padding: 0;
}

/* --- session schedule --- */

#session-container h3,
.cost-bold {
    font-weight: 900;
}

.cost-bold {
    font-size: 20px;
}

/*--- contact box --- */

#contact-box {
  padding: 20px;
  margin: 50px;
  border-radius: 10px;
}

#contact-container p {
  padding-top: 25px;
  margin-bottom: -15px;
}

#-padding {
  padding-top: 25px;
}

.form-control {
  border-radius: 20px;
  border: none;
}

/* Solution to remove focus border from input elements found via Stack Overflow: https://stackoverflow.com/questions/14820952/change-bootstrap-input-focus-blue-glow */
input[type="text"]:focus,
input[type="email"]:focus {
  box-shadow: none;
}

#checkbox-container {
  padding-top: 30px;
}

#form-textarea {
  border-radius: 20px;
  border: none;
}

/* Solution to remove border from textarea element found via Stack Overflow: https://stackoverflow.com/questions/8622686/how-come-i-cant-remove-the-blue-textarea-border-in-twitter-bootstrap */
#form-textarea {
    outline: none;
}

textarea[placeholder="Your message"] {
    padding: 5px;
}

#submit-button {
  margin-top: 15px;
  width: 100px;
  height: 50px;
  background-color: rgb(250, 168, 236);
  border-radius: 10px;
  color: white;
  border: none;
}

#submit-button:hover {
  color: rgb(92, 92, 92);
  background-color: rgb(252, 145, 234);
  border: none;
}

/* --------------------------------------------------------------------- Images --- */

#hero-image {
  width: 100%;
  background-size: cover;
}

#introduction img {
  width: 200px;
  height: 100px;
  border: none;
}

.welcome-container img {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  border: 1px solid rgba(238, 234, 234, 0.6);
  margin-top: 10px;
}

/* --------------------------------------------------------------------- Media Queries --- */

@media (max-width: 325px) {
  #social-container i {
    padding-right: 10px;
  }
}

@media (max-width: 481px) {
  h2 {
    font-size: 24px;
  }
}

@media (max-width: 767px) {
  #logo-text {
    margin-bottom: 16px;
  }
  nav ul {
    margin-left: -15px;
  }
}

